<% if @user.errors.any? %>
    	<div id="error_explanation">
      	<h4><%= pluralize(@user.errors.count, "error") %> prohibited this book from being saved:</h4>
      	<ul>
      	<% @user.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
      	<% end %>
      	</ul>
    	</div>
<% end %>
<h2>User info</h2>
<%= form_for(@user) do |f| %>
<p>Name</p>
<%= f.text_field :name %>
<p><%= f.attachment_field :profile_image %></p>
<p>Introduce</p>
<p><%= f.text_area :introduce %></p>
<%= f.submit"Update User" %>
<% end %>
<footer>
  <div class="container">
  	<div class="row">
    	<div class="col-xs-3 col-xs-offset-9">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>