
<div class="container">
	<div class="col-xs-3">
<p><%= flash[:notice] %></p>
<h2>User info</h2>
<p><%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%></p>
<table class="table">
	<tbody>
		<tr></tr>
		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>
		<tr>
			<th>introduce</th>
			<th><%= user.introduction %></th>
		</tr>
	</tbody>
</table>
			<%= link_to "",edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
			<h2>New book</h2>
			<%= form_for(book) do |f| %>
			  <% if book.errors.any? %>
			  	<h2><%= pluralize(@book.errors.count, "error") %></h2>
			  	<% book.errors.full_messages.each do |message| %>
			  	<li><%= message %></li>
			   <% end %>
			  <% end %>
			<p>Title</p>
			<p><%= f.text_field :title, class: "col-xs-12"%></p>
			<p>Opinion</p>
			<p><%= f.text_area :body, class: "col-xs-12" %></p>
			<p><%= f.submit "Create Book",{class: "btn btn-primary col-xs-12"} %></p>
			<% end %>
</div>
</div>
