<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<h2>Editing Book</h2>
  </div>
</div>
<% if @book.errors.any? %>
    	<div id="error_explanation">
      	<h4><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h4>
      	<ul>
      	<% @book.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
      	<% end %>
      	</ul>
    	</div>
<% end %>
<div class="col-md-6 col-md-offset-3">
<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
	<p>Title</p>
	<%= f.text_field :title, class: "col-xs-12"  %>
	<p>Opinion</p>
	<%= f.text_area :body, class: "col-xs-12" %><br>
	<%= f.submit 'Update Book', class: "btn btn-primary col-xs-12"  %><br>
<% end %>
    <%= link_to "Show", book_path %>
	<%= link_to "Back", books_path %>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>